@import '~bootstrap';
@import 'shapes';
@import 'colors';
@import 'fonts';
@import 'made_with';

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  position: relative;
  padding: 50px 0 0 0;
  background-color: $white;
  font-family: $opensans;

  @media (min-width: 992px) {
    background-color: $black;
  }
}