/* 
  Colors

  Heres where we will define all the colors
*/

$black: #000000;
$white: #FFFFFF;
$blue: #2218a5;
$orange: #dba419;
$red: #b6222c;
$yellow: #dee430;
$green: #1ece3e;
$purple: #ce16ac;

.red-icon {
  background-color: $red;
}

.yellow-icon {
  background-color: $yellow;
}

.blue-icon {
  background-color: $blue;
}

.green-icon {
  background-color: $green;
}

.orange-icon {
  background-color: $orange;
}
