/*
  Shapes

  Heres where we will define all the shapes
*/

.a-icon-row {
  list-style-type: none;
}

.a-icon-row {
  padding: 0;
  
  &.circle-icons {
    .a-icon {
      border-radius: 50%;
    }
  }

  li {
    @media screen and (min-width: 768px) {
      margin: 0 15px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.a-icon-wrap {
  &:hover {
    .a-icon-title {
      opacity: 100%;
    }
  }
}

.a-icon {
  width: 100px;
  height: 100px;
  opacity: 100%;
  transition: opacity 0.8s ease-in-out;

  &:hover {
    cursor: pointer;
  }
}

.a-icon-title {
  text-align: center;
  color: $purple;
  margin-top: 10px;
  opacity: 0;
}
